input,textarea{
    border-radius: 10px;
    padding:10px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:50%;
  }
  
  .form_container{
    background-color:orange;
    margin-top: 40px;
    border-radius: 10px;
    padding:20px;
  }
  
  #admin_redirect{
    margin-top: 10px;
    float: right;
    font-size: 15px;
  }
  